In [5]:
import pandas as pd

fin_df = pd.read_csv("budget_data.csv")
fin_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [6]:
total_months = len(fin_df['Date'])
total_months2 = f'Total Months: {total_months}'
total_months2

'Total Months: 86'

In [7]:
total_pnl = sum(fin_df['Profit/Losses'])
total_pnl2 = "${:,.2f}".format(total_pnl)
total_pnl3 = f'Total PnL: {total_pnl2}'
total_pnl3

'Total PnL: $38,382,578.00'

In [8]:
monthly_diff = []
for i in range(len(fin_df['Profit/Losses'])):
    monthly_diff.append(fin_df['Profit/Losses'][i + 1] - fin_df['Profit/Losses'][i])

KeyError: 86

In [9]:
avg_change = sum(monthly_diff)/len(monthly_diff)
avg_change2 = "${:,.2f}".format(avg_change)
avg_change3 = f'Average Change: {avg_change2}'
avg_change3

'Average Change: $-2,315.12'

In [10]:
greatest_inc = max(monthly_diff)
greatest_inc2 = "${:,.2f}".format(greatest_inc)
greatest_inc3 = f'Greatest Increase in Profits: {greatest_inc2}'
greatest_inc3

'Greatest Increase in Profits: $1,926,159.00'

In [11]:
greatest_dec = min(monthly_diff)
greatest_dec2 = "${:,.2f}".format(greatest_dec)
greatest_dec3 = f'Greatest Decrease in Profits: {greatest_dec2}'
greatest_dec3

'Greatest Decrease in Profits: $-2,196,167.00'

In [12]:
final_analysis = 'Financial Analysis\n--------------------------'

In [13]:
print(final_analysis)
print(total_months2)
print(total_pnl3)
print(avg_change3)
print(greatest_inc3)
print(greatest_dec3)

Financial Analysis
--------------------------
Total Months: 86
Total PnL: $38,382,578.00
Average Change: $-2,315.12
Greatest Increase in Profits: $1,926,159.00
Greatest Decrease in Profits: $-2,196,167.00

In [14]:
election_df = pd.read_csv('election_data.csv')

In [15]:
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [20]:
total_votes = len(election_df['Voter ID'])
total_votes2 = "{:,.0f}".format(total_votes)
total_votes3 = f'Total Votes: {total_votes2}'
total_votes3

'Total Votes: 3,521,001'

In [59]:
khan = 0
correy = 0
li = 0
otooley = 0

for item in election_df['Candidate']:
    if item == "Khan":
        khan += 1
    elif item == "Correy":
        correy += 1
    elif item == "Li":
        li += 1
    else:
        otooley += 1

In [60]:
Khan = f'Khan: {"{:,.3%}".format(khan/total_votes)} ({"{:,.0f}".format(khan)})'

Correy = f'Correy: {"{:,.3%}".format(correy/total_votes)} ({"{:,.0f}".format(correy)})'

Li = f'Li: {"{:,.3%}".format(li/total_votes)} ({"{:,.0f}".format(li)})'

OTooley = f"O'Tooley: {'{:,.3%}'.format(otooley/total_votes)} ({'{:,.0f}'.format(otooley)})"

In [73]:
if khan > correy and khan > li and khan > otooley:
    winner = f"Winner: Khan"
elif correy > khan and correy > li and correy > otooley:
    winner = f"Winner: Correy"
elif li > khan and li > correy and li > otooley:
    winner = f"Winner: Li"
elif otooley > khan and otooley > correy and otooley > li:
    winner = f"Winner: O'Tooley"
else:
    'Two or more candidates tied'

In [77]:
print('Election Results')
print('--------------------------')
print(total_votes3)
print('--------------------------')
print(Khan)
print(Correy)
print(Li)
print(OTooley)
print('--------------------------')
print(winner)
print('--------------------------')

Election Results
--------------------------
Total Votes: 3,521,001
--------------------------
Khan: 63.000% (2,218,231)
Correy: 20.000% (704,200)
Li: 14.000% (492,940)
O'Tooley: 3.000% (105,630)
--------------------------
Winner: Khan
--------------------------